{{!-- Home page handlerbar the opens up when you login --}}
{{#if isLoggedIn}} 
<div class="container d-flex justify-content-center my-5">
  <div class="row">
    <div class="col-sm-12 col-md-12">

      <div class="card home-card orange-border text-center">
        <div class="card-header h2">
          Welcome to Bon Appetit
        </div>
        <div class="card-body">
          <h3 class="card-title">Order Online</h3>
          <p class="card-text">You can checkout our menu and order online here.</p>
          <a href="/menu" class="btn mb-2">Order Online</a>
          <h3 class="card-title">Reserve a table</h3>
          <p class="card-text">You can reserve a table in advance over here.</p>
          <a href="/reservation" class="btn mb-2">Reserve a table</a>
          <hr>         
          <p class="card-text h4">You can view your profile, order history and reservation history by clicking the Profile button at the top of the page.</p>
          <br>
        </div>
      </div>
    </div>
    
  </div>
</div>
{{/if}}