{{#if isLoggedIn}} 
<div class="container d-flex justify-content-center my-5">
  <div class="row">
    <div class="col-sm-12 col-md-12">

      <div class="card home-card orange-border text-center">
        <div class="card-header h2">
          Welcome to Bon Appetit
        </div>
        <div class="card-body">
          <h5 class="card-title">Order Online</h5>
          <p class="card-text">You can checkout our menu and order online here.</p>
          <a href="/menu" class="btn mb-2">Order Online</a>
          <h5 class="card-title">Reserve a table</h5>
          <p class="card-text">You can reserve a table in advance over here.</p>
          <a href="/reservation" class="btn mb-2">Reserve a table</a>
          <h5 class="card-title">View your profile</h5>
          <p class="card-text">You can view your profile and other details here.</p>
          <a href="#" class="btn mb-2">View your profile</a>
        </div>
      </div>
    </div>
    
  </div>
</div>
{{/if}}


{{!-- <script src="/assets/js/home.js"></script> --}}