<section>
<h1>Reservation</h1>
<form id="new-reservation">
<div>
    <label for="date-input">Date</label>
    <input type="text" name="reservationDate" id="reservationDate"/>
</div>
<div>
    <label for="time-input">Time</label>
    <input type="text" name="reservationTime" id="reservationTime"/>
</div>
<div>
    <label for="size-input">How Many</label>
    <input type="text" name="partySize" id="partySize"/>
</div>
<button type="submit">Reserve</button>
</form>
</section>

<script src="/assets/js/reservations.js"></script>